<div class="wrap">
    <div class="textInfo">
        <div class="title">
            <h1>{{movie?.title |uppercase}}</h1>
        </div>
        <div class="overview">
            <p>{{movie?.overview}}</p>
            <p><i class="material-icons">access_time</i> {{movie?.release_date}}</p>
            <p><i class="material-icons">rate_review</i> {{movie?.vote_average}}</p>
            
            <p><i class="material-icons">category</i> <span *ngFor="let genre of movie?.genres">{{genre?.name}}   </span></p>
            <p><i class="material-icons">language</i> <span *ngFor="let lang of movie?.spoken_languages">{{lang?.name}}   </span></p>
        </div>
    </div>
    <div class="imageInfo">
        <img *ngIf="movie" [src]="getPoster()"/>
    </div>
</div>





