<div class="fixed-top">
    <div class="white-row row">
    </div>
    <div class="wrapper">
      <ul class="nav">
        <li>
          <img src="../../../assets/logo.PNG" />
        </li>
        <li routerLinkActive="selectedMenuItem">
          <a routerLink="/movies" class="navItem">
            <i class="material-icons icon">
                list
              </i>
            <span class="menuText">
              Movies
            </span>
          </a>
        </li>
        <li routerLinkActive="selectedMenuItem">
          <a routerLink="/favorites" class="navItem">
            <i class="material-icons icon">
                favorite
              </i>
            <span class="menuText">
              Favorites
            </span>
          </a>
        </li>
      </ul>
    </div>
    <div class="white-row row">
    </div>
  </div>