:host {
    display: block;
    margin-top: 80px;
    padding: 1em 2em;
    background-image: linear-gradient(rgb(8,7,7), rgb(11,10,9));
}

.wrap {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas: "searchForm"
                         "foundItems"
                         "error"
                         "progressContainer"
                         "movies"
                         "paginator"
}
.searchForm {
    grid-area: searchForm;
    margin-top: 1em;
}
.foundItems {
    grid-area: foundItems;
    padding: .5em;
    border-radius: 3px;
    color: rgba(54, 173, 7, 0.932);

}
.error {
    grid-area: error;
    background-color: rgba(255, 38, 0, 0.932);
    padding: 1em;
    border-radius: 3px;
    margin-top: 1em;
}
.progressContainer {
    grid-area: progressContainer;
    margin: auto;
    margin-top: 2em;
}

.searchField {
    width: 50%;
    padding: 7px 6px 4px 6px;
    border: 1px solid lightgray;
    background: white;
    height: 3em;
    border-radius: 20px;
    text-align: start;
    display: inline-block;
    float: left;
}
.searchField>input {
    border: none;
    outline: none;
    width: 90%;
}

.searchField>i {
    border: none;
    outline: none;
    width: 10%;
    text-align: center;
    vertical-align: center;
}
.searchButton {
    margin-left: 1em;
    padding-left: 0;
    float: left;
    height: 3em;
    padding: 7px 6px 4px 6px;
    min-width: 50px;
}


.movies {
    grid-area: movies;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(90%, 1fr));
    row-gap: 2em;
    column-gap: 1em;
} 

.paginator {
    grid-area: paginator;
    margin-top: 1em;
}

@media(min-width : 500px) {
    .movies {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
        
    }
}
@media(min-width : 800px) {
    .movies {
        grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
    }
}
@media(min-width : 1100px) {
    .movies {
        grid-template-columns: repeat(auto-fit, minmax(15%, 1fr));
    }
}
